/* ---------- Главная страница ---------- */

/* Подключение шрифтов  */
@font-face {
    font-family: Gramatika-Bold;
    src: url('../assets/fonts/Gramatika-Bold.ttf');
}

@font-face {
    font-family: Gramatika-Regular;
    src: url('../assets/fonts/Gramatika-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Regular;
    src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
    font-family: Montserrat-Medium;
    src: url('../assets/fonts/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Semibold;
    src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../assets/fonts/Montserrat-Bold.ttf');
}

/* Базовые настройки */
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: 0.5s;
}

/* Заливка фона */
body {
    background-color: #FFF8E4;
    overflow-x: hidden;
}

.mainPage {
    background-color: #4E3822;
    height: 4760px;
}

.beige {
    background-color: #FFF8E4;
    padding-top: 80px;
    padding-bottom: 120px;
    margin-bottom: 80px;
}

/* Контейнер 1300px */
.cont {
    max-width: 1200px;
    margin: 0 auto;
}

/* Стили заголовоков */
.title, .titleWhite {
    font-family: Montserrat-Bold;
    font-size: 40px;
    text-transform: uppercase;
    color: #4E3822;
}

.titleWhite {
    color: white;
}

/* Шапка */
header {
    background-color: #4E3822;
}

.headerBlock {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainPage .headerBlock {
    padding-bottom: 30px;
}

.logo {
    display: flex;
    gap: 16px;
    align-items: center;
}

.logo img {
    width: 40px;
    height: 40px;
}

.logo h1 {
    font-weight: normal;
    font-family: Gramatika-Bold;
    color: #F4E3B2;
    font-size: 32px;
    letter-spacing: 10%;
    text-transform: uppercase;
}

header nav {
    display: flex;
    gap: 60px;
}

nav a {
    font-family: Montserrat-Regular;
    font-size: 18px;
    color: #F4E3B2;
}

nav a:hover {
    transform: scale(0.95);
}

.options {
    display: flex;
    gap: 16px;
}

.option {
    width: 48px;
    height: 48px;
    border: 1px solid #F4E3B2;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.options svg {
    padding: 4px;
}

.option:hover {
    background-color: #F4E3B2;
}

.option:hover svg {
    fill: #4E3822;
}

/* Баннер */
.banner {
    position: relative;
    margin-bottom: 120px;
}

.banner img {
    width: 1200px;
    border-radius: 20px;
}

.bannerText {
    position: absolute;
    top: 0;
    left: 80px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerText h1 {
    font-weight: normal;
    font-size: 50px;
    color: white;
    line-height: 50px;
    text-transform: uppercase;
    font-family: Gramatika-Bold;
    width: 520px;
}

.bannerText p {
    margin-top: 10px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: Montserrat-Regular;
    color: white;
    width: 440px;
}

.bannerText a {
    font-size: 24px;
    font-family: Montserrat-Medium;
    color: black;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid white;
    width: fit-content;
}

.bannerText a:hover {
    background-color: transparent;
    color: white;
}

/* Акции */
.advantages {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 100px;
}

.advant {
    width: 390px;
    background-color: #60462C;
    border-radius: 20px;
    padding-bottom: 20px;
    border: 1px solid #4E3822;
}

.advant:hover {
    border: 1px solid #F4E3B2;
}

.advant img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.advant h1 {
    font-weight: normal;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Montserrat-Semibold;
    font-size: 24px;
    margin-left: 20px;
}

.advant p {
    color: white;
    font-family: Montserrat-Regular;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 16px;
    line-height: 22px;
}

/* Каталог */
.catalog {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 120px;
}

.catalogHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.catalogHeader select {
    background-color: transparent;
    font-size: 20px;
    padding: 5px 10px;
    color: #4E3822;
    border: 2px solid #4E3822;
    border-radius: 30px;
    font-family: Montserrat-Medium;
    cursor: pointer;
}

.catalogBlock, .catalogCards {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 390px;
}

.card:nth-child(n+4) {
    margin-top: 20px;
}

.item {
    width: 100%;
    background-color: #4E3822;
    border-radius: 20px;
    padding: 8px 8px 20px 8px;
}

.item img {
    width: 100%;
    border-radius: 15px;
    cursor: pointer;
}

.item h1 {
    font-weight: normal;
    font-size: 24px;
    font-family: Montserrat-Medium;
    color: #FFF8E4;
    margin-left: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item p {
    font-family: Montserrat-Regular;
    color: #FFF8E4;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 20px;
}

.price {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.price h2 {
    font-weight: normal;
    color: #FFF8E4;
    font-family: Montserrat-Semibold;
    font-size: 26px;
}

.price p {
    padding: 5px 10px;
    border: 1px solid #FFF8E4;
    cursor: pointer;
    border-radius: 30px;
    margin-bottom: 0;
}

.price p:hover {
    background-color: #FFF8E4;
    color: #4E3822;
}

.buy {
    display: flex;
    width: 100%;
    gap: 5px;
}

.buy button {
    font-family: Montserrat-Medium;
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    align-self: center;
    background-color: #4E3822;
    border-radius: 10px;
    border: none;
    width: 100%;
    color: #FFF8E4;
    cursor: pointer;
}

.item:hover, .buy button:hover, .buy svg:hover {
    background-color: #60462C;
}

.buy svg {
    height: 100%;
    width: fit-content;
    padding: 5px;
    background-color: #4E3822;
    border-radius: 10px;
    cursor: pointer;
}

.allItems {
    font-size: 24px;
    font-family: Montserrat-Medium;
    color: #4E3822;
    position: relative;
    top: 0;
    left: 0;
}

.allItems:hover {
    left: 5px;
}

/* Партнеры */
.partners {
    padding-top: 60px;
    padding-bottom: 160px;
    display: flex;
    align-items: center;
    gap: 100px;
    margin: 0 auto;
    width: fit-content;
}

.partners img {
    height: 60px;
}

.partners img:first-child {
    height: 100px;
}

/* Часто задаваемые вопросы */
.faq {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 40px;
}

/* .questionBlock {} */

.question {
    display: flex;
    padding: 16px 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #4E3822;
    border-radius: 15px;
    cursor: pointer;
}

.question:hover {
    background-color: #60462C;
}

.faq .questionBlock:first-child .question {
    border-radius: 15px 15px 0 0;
}

.faq .questionBlock:first-child .question svg {
    transform: rotate(180deg);
}

.question h1 {
    font-weight: normal;
    color: #FFF8E4;
    font-size: 24px;
    font-family: Montserrat-Medium;
}

.question svg {
    position: relative;
    top: 0;
    left: 0;
}

.question:hover svg {
    top: 5px;
} 

.faq .questionBlock:first-child .question:hover svg {
    top: -5px;
}

.answer {
    width: 100%;
    padding: 10px 20px;
    border-radius: 0 0 15px 15px;
    border: 2px solid #4E3822;
}

.answer p {
    color: #4E3822;
    font-size: 18px;
    font-family: Montserrat-Regular;
    line-height: 24px;
}

/* Акции */
.promotionsTitle {
    text-align: center;
}

.promotionsBlock {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-bottom: 200px;
}

.promotions {
    display: flex;
    gap: 40px;
}

.prom {
    width: 860px;
    height: 260px;
    background-color: #60462C;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.prom:hover {
    transform: scale(1.03);
}

.prom img {
    width: 50%;
    border-radius: 20px 0 0 20px;
}

.promText {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.promInfo h1 {
    font-weight: normal;
    color: white;
    font-size: 24px;
    font-family: Montserrat-Semibold;
    margin-bottom: 10px;
}

.promInfo p {
    font-size: 18px;
    font-family: Montserrat-Regular;
    color: white;
    line-height: 26px;
}

.promText h2 {
    font-weight: normal;
    font-size: 20px;
    color: white;
    font-family: Montserrat-Medium;
    align-self: self-end;
}

.slider {
    display: flex;
    gap: 10px;
}

.slider svg {
    width: 60px;
    height: 30px;
    padding: 5px 10px;
    background-color: #fff8e4b3;
    border-radius: 30px;
    cursor: pointer;
}

.slider svg:last-child {
    transform: rotate(180deg);
}

.slider svg:hover {
    background-color: #FFF8E4;
}

/* Подвал */
footer, .footerBlock {
    display: flex;
    justify-content: space-between;
}

.copyright h1 {
    color: white;
}

.copyright p {
    color: white;
    font-family: Montserrat-Semibold;
    font-size: 24px;
    width: 320px;
    margin-top: 40px;
}

footer nav {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

footer nav a {
    color: white;
}

.contact {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact h1 {
    margin-bottom: 10px;
    color: white;
    font-family: Montserrat-Semibold;
    font-size: 20px;
    font-weight: normal;
}

.contact a, .contact p {
    color: white;
    font-family: Montserrat-Regular;
    font-size: 18px;
    display: block;
}

.phone a:hover, .email a:hover {
    transform: scale(0.95);
}

/* ---------- Конец главной страницы ---------- */


/* ---------- Каталог ---------- */
.catalogPage header {
    margin-bottom: 60px;
}

.filters {
    display: flex;
    gap: 10px;
}

.search {
    display: flex;
    gap: 20px;
    padding: 5px 15px;
    border: 2px solid #4E3822;
    border-radius: 30px;
}

.search input {
    background-color: transparent;
    font-size: 20px;
    color: #4E3822;
    font-family: Montserrat-Medium;
    border: none;
    outline: none;
}

.search input::placeholder {
    color: #4e3822bd;
}

.search img {
    width: 20px;
    height: 20px;
    margin-top: 2px;
    cursor: pointer;
}

.search img:hover {
    transform: scale(0.9);
}

.catalogPage .catalogBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 60px;
}

.catalogCards {
    margin-top: 0;
    margin-bottom: 0;
}

.categoryTitle {
    font-weight: normal;
    color: #FFF8E4;
    background-color: #4E3822;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 28px;
    font-family: Montserrat-Medium;
}

.catalogPage footer, .itemPage footer {
    background-color: #4E3822;
    display: block;
    padding-top: 80px;
    padding-bottom: 80px;
}
/* ---------- Конец каталога ---------- */

/* ---------- Карточка товара ---------- */
.itemPage header {
    margin-bottom: 80px;
}

.itemTitle {
    color: #4E3822;
    font-family: Gramatika-Bold;
    font-size: 40px;
    padding-bottom: 30px;
}

.itemBlock {
    display: flex;
    width: 100%;
    margin-bottom: 60px;
}

.itemGallery {
    border-radius: 20px;
    background-color: #4E3822;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemImage {
    position: relative;
}

.itemImage img {
    border-radius: 20px;
    width: 600px;
}

.itemPage .slider {
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    justify-content: center;
}

.itemPage .slider svg {
    width: auto;
    padding: 8px;
}

.itemImages {
    display: flex;
    gap: 20px;
    padding: 20px;
    align-items: center;
}

.itemImages img {
    width: 100px;
    height: fit-content;
    opacity: 50%;
    border-radius: 10px;
    cursor: pointer;
}

.itemImages img:first-child {
    opacity: 100%;
}

.itemImages img:hover {
    opacity: 100%;
}

.itemBuy {
    margin-top: 10px;
    width: 100%;
    display: flex;
    /* gap: 10px; */
}

.itemBuy a {
    width: 100%;
    color: #FFF8E4;
    background-color: #4E3822;
    border-radius: 10px;
    font-family: Montserrat-Medium;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemBuy a:hover, .itemBuy svg:hover {
    background-color: #60462C;
}

.itemBuy svg {
    width: 54px;
    height: 54px;
    background-color: #4E3822;
    padding: 5px;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}

.itemInfo {
    padding-left: 30px;
    padding-right: 30px;
}

.itemInfo p {
    font-size: 20px;
    line-height: 30px;
    font-family: Montserrat-Regular;
    color: black;
    margin-bottom: 20px;
}

.characteristics {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.char {
    display: flex;
    justify-content: space-between;
    gap: 25px;
    width: 100%;
    align-items: center;
}

.char h2 {
    font-weight: normal;
    font-family: Montserrat-Medium;
    font-size: 20px;
    color: #4E3822;
}

.charLine {
    height: 2px;
    flex: 1;
    border-radius: 10px;
    background-color: #4E3822;
}

/* Оставить отзыв */
.myReview {
    margin-top: 40px;
    margin-bottom: 120px;
    display: flex;
    flex-direction: column;
}

.myReview h1 {
    font-weight: normal;
    font-size: 24px;
    font-family: Montserrat-Medium;
    color: #4E3822;
}

.rating {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 20px;
}

.stars {
    display: flex;
    gap: 5px;
}

.stars svg:hover {
    fill: #4E3822;
    cursor: pointer;
}

.myReview textarea {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border-radius: 10px;
    width: 600px;
    height: 200px;
    border: 2px solid #4E3822;
    color: #4E3822;
    padding: 10px;
    font-size: 18px;
    font-family: Montserrat-Regular;
}

.myReview textarea::placeholder {
    color: #4e3822bc;
}

.myReview button {
    font-size: 24px;
    color: #FFF8E4;
    background-color: #4E3822;
    font-family: Montserrat-Medium;
    padding: 8px 16px;
    border-radius: 10px;
    border: 2px solid #4E3822;
    cursor: pointer;
    width: fit-content;
}

.myReview button:hover {
    background-color: transparent;
    color: #4E3822;
}

/* Отзывы */
.reviews {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 120px;
    gap: 20px;
}

.review {
    background-color: #FFFAEC;
    border-radius: 20px;
    padding: 30px;
    border: 3px solid #4E3822;
}

.name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.name img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}

.name h1 {
    font-family: Gramatika-Bold;
    color: #4E3822;
    font-size: 32px;
    font-weight: normal;
    margin-left: 10px;
    margin-right: 20px;
}

.rate {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    background-color: #4E3822;
    border-radius: 30px;
    border: 1px solid #FFF8E4;
}

.rate:hover {
    border: 1px solid #FFF8E4;
}

.review p {
    font-family: Montserrat-Regular;
    font-size: 16px;
    line-height: 24px;
    color: #4E3822;
}

.rate p {
    font-family: Montserrat-Medium;
    font-size: 18px;
    color: #FFF8E4;
}

/* Похожие товары  */
.itemPage .catalogCards {
    margin-top: 40px;
    margin-bottom: 120px;
}